@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css');
eader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 0;
    z-index: 100;
    transition: top 0.3s ease;
  }
  header.visible {
    top: 0;

  }
  /* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3f0f0;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000042;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #23ad48;
}